<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-4 fixed-top">
<div class="container">
  <a class="navbar-brand" href="/">SILVER ELEGANCE</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#product">Product</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
              <% categories.forEach(category => { %>
                <li>
                  <a class="dropdown-item" href="/products/<%= category.slug %>"><%= category.name %></a>
                </li>
              <% }) %>
        
              
          </ul>
        </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="#subscriber">Subscribe </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact US </a>
      </li>
 </ul>
 
  </div>
 <div class="navbar-nav right">
    <a href="#" class="icon-link" onclick="toggleUserPanel()"><i class="bi bi-person me-3"></i></a>
    <a href="/cart" class="icon-link"><i class="bi bi-cart me-3"></i>
      <% if (cartCount > 0) { %>
      <span class="badge bg-danger"><%= cartCount %></span>
      <% } %>
    </a>
    <a href="/wishlist" class="icon-link"><i class="bi bi-heart me-3"></i></a>
 </div>
 <!-- Right-side login/user panel -->
<div id="userPanel" class="side-panel">
  <span class="close-btn" onclick="toggleUserPanel()">&times;</span>
  <% if (session.user) { %>
    <h3 class="w">Welcome, <%= session.user.name %></h3>
    <p class="e">Email: <%= session.user.email %></p>
    <a href="/logout" class="l">Logout</a>
  <% } else { %>
    <h3> MEMBER LOGIN </h3>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit" class="log">Login</button>
      <a href="/forgot-pass"> FORGOT YOUR PASSWORD? </a>
      <h2 class="member"> Not a Member? 
      <a href="/register" class="join"> JOIN NOW </a> 
      </h2>
    </form>
  <% } %>
</div>
  </div>
</nav>
<script>
function toggleUserPanel() {
  document.getElementById("userPanel").classList.toggle("open");
}
</script>
</html>